<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/fontawesome/icons.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{plugins/menu :: menu}"></nav>

<div class="main">
    <div class="left-side-area">
        <h1 class="header">Users</h1>
        <h1 class="subheader">List<br> of all users</h1>
        <a href="/users/create" class="button-active">Create</a>
    </div>
    <div class="main-area">
        <div></div>
        <div th:insert="~{plugins/pagination::pagination}" th:with="firstVer=${users}, uri=@{/admins/users}"></div>
        <table class="table">
            <thead>
            <tr class="table-header">
                <th></th>
                <th></th>
                <th></th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Is active</th>
            </tr>
            </thead>

            <tbody>
            <div th:each="el: ${users}">
                <tr class="table-data">
                    <td>
                        <a th:href="'/admins/user/' + ${el.id}">
                            <i class="fa-solid fa-eye" title="View"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/admins/update/user/' + ${el.id}">
                            <i class="fa-solid fa-file-pen" title="Edit"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="'/admins/delete/user/' + ${el.id}">
                            <i class="fa-solid fa-trash-can" title="Delete"></i>
                        </a>
                    </td>
                    <td><p th:text="${el.email}"></p></td>
                    <td><p th:text="${el.firstName}"></p></td>
                    <td><p th:text="${el.lastName}"></p></td>
                    <td><p th:text="${el.phone}"></p></td>
                    <td><p th:text="${el.role}"></p></td>
                    <td><p th:text="${el.isActive}"></p></td>
                </tr>

            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>